<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" shutdownHook="disable">
    <Appenders>
        <Console name="Console">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="DEBUG">
            <AppenderRef ref="Console"/>
        </Root>

        <logger name="lv.freeradiusgui" level="WARN">
            <AppenderRef ref="Console"/>
        </logger>

        <logger name="org.thymeleaf" level="WARN">
            <AppenderRef ref="Console"/>
        </logger>

        <logger name="com.mchange.v2.c3p0" level="INFO">
            <AppenderRef ref="Console"/>
        </logger>

        <logger name="org.hibernate" level="WARN" additivity="false">
            <AppenderRef ref="Console"/>
        </logger>

        <logger name="org.springframework.security" level="WARN" additivity="false">
            <AppenderRef ref="Console"/>
        </logger>


    </Loggers>
</Configuration>