<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Radius logs</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="icon" type="image/png" th:href="@{/resources/img/favico.png}" />
    <link rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <link rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap-datepicker3.min.css}" />
    <script th:src="@{/resources/js/jquery-2.2.4.min.js}"></script>
    <script th:src="@{/resources/js/bootstrap.min.js}"></script>
    <script th:src="@{/resources/js/jquery.searchable-1.1.0.min.js}"></script>
    <script th:src="@{/resources/js/search.js}"></script>
    <script th:src="@{/resources/js/core.js}"></script>
    <script th:src="@{/resources/js/bootstrap-datepicker.min.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: ${#authorization.expression('hasRole(''ROLE_ADMIN'')')} ? 'header-admin' : 'header'">&nbsp;</div>
<div class="container">
    <th:block th:if="${msg != null}">
        <div th:replace="fragments/alert :: alert (type=${msgType}, message=${msg})">Alert</div>
    </th:block>
    <div class="page-header">
        <h1>Radius logs</h1>
    </div>
    <h3 class="text-danger">Selected date: <span th:text="${date}" th:remove="tag"/></h3>
    <h4>Record count: <span th:text="${recordCount}" th:remove="tag"/>&nbsp;|&nbsp;Rejected count: <a href="#rejected"><span class="label" th:classappend="${rejectedCount == 0 ? 'label-success' : 'label-warning'}" th:text="${session.rejectedCount}"/></a></h4>

    <div class="space-20"></div>

    <form class="form-inline" method="post" th:action="@{/logs/list}">
        <div class="form-group">
            <div class="input-group date" data-provide="datepicker">
                <input name="date" type="text" class="form-control" placeholder="Select date"/><div class="input-group-addon"><span class="glyphicon glyphicon-th"></span></div>
            </div>
            <script th:src="@{/resources/js/datepicker.js}"></script>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-arrow-right"></span> Change date</button>
        </div>
        <div class="form-group">
            <a role="button" class="btn btn-primary" th:href="@{/logs/refresh}" title="Refresh from log file."><span class="glyphicon glyphicon-refresh"></span> Refresh</a>
        </div>
        <div class="form-group pull-right">
            <input type="search" id="search" class="search form-control" placeholder="Filter current list"/>
        </div>
    </form>

    <table class="table table-striped" id="table">
            <thead>
            <tr>
                <th>Time of Registration</th>
                <th>Mac</th>
                <th>Device name</th>
                <th>Device type</th>
                <th>Status</th>
                <th>Switch</th>
                <th>Port</th>
                <th>Port Speed</th>
                <th>Duplex</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="log : ${logs}" th:classappend="${log.status == 0 ? 'danger' : ''}">
                <td th:text="${log.timeOfRegistration != null} ? ${#temporals.format(log.timeOfRegistration, 'dd.MM.yyyy HH:mm')} : 'N/a'"></td>
                <td th:text="${log.mac}"></td>
                <td>
                    <a th:if="${log.device != null}" th:href="@{/device/{id}(id=${log.device.id})}">
                        <span th:text="${log.device != null} ? ${log.device.name} : 'N/a'" th:remove="tag"/>
                    </a>
                    <a name="rejected" th:if="${log.device == null}" role="button" class="btn btn-warning btn-xs" th:href="@{/device/add/{mac}(mac=${log.mac})}"><span class="glyphicon glyphicon-plus"></span> Register new device</a>
                </td>
                <td th:text="${log.device != null} ? ${log.device.type} : 'N/a'"></td>
                <td>
                    <a th:if="${log.status == 0}" name="rejected"></a>
                    <span th:text="${log.status == 1} ? 'Accept' : 'Reject'" th:remove="tag"></span>
                </td>
                <td>
                    <a th:if="${log.switch != null}" th:href="@{/switch/{id}(id=${log.switch.id})}">
                        <span th:text="${log.switch != null} ? ${log.switch.name} : 'N/a'" th:remove="tag"/>
                    </a>
                </td>
                <td th:text="${log.switchPort}"></td>
                <td th:text="${log.portSpeed} + ' Mbps'" th:classappend="${log.portSpeed == 100 ? 'text-danger' : ''}"></td>
                <td th:text="${log.duplex == 1} ? 'Full' : 'Half'" th:classappend="${log.duplex == 0 ? 'text-danger' : ''}"></td>
            </tr>
            </tbody>
        </table>
    <a role="button" class="btn btn-primary" th:href="@{/logs/refresh}" title="Refresh from log file."><span class="glyphicon glyphicon-refresh"></span> Refresh</a>
    <div th:replace="fragments/footer :: footer"></div>
</div>

</body>
</html>