<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Switches</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="icon" type="image/png" th:href="@{/resources/img/favico.png}" />
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <script src="js/jquery-2.2.4.js" th:src="@{/resources/js/jquery-2.2.4.min.js}"></script>
    <script src="js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
    <script src="js/jquery.searchable-1.1.0.min.js" th:src="@{/resources/js/jquery.searchable-1.1.0.min.js}"></script>
    <script src="js/search.js" th:src="@{/resources/js/search.js}"></script>
    <script src="js/core.js" th:src="@{/resources/js/core.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: ${#authorization.expression('hasRole(''ROLE_ADMIN'')')} ? 'header-admin' : 'header'">&nbsp;</div>
<div class="container">
    <th:block th:if="${msg != null}">
        <div th:replace="fragments/alert :: alert (type=${msgType}, message=${msg})">Alert</div>
    </th:block>
    <div class="page-header">
        <h1>Switches</h1>
        <p>and other RADIUS clients.</p>
    </div>

    <a role="button" class="btn btn-success" th:href="@{/switch/add}"><span class="glyphicon glyphicon-plus"></span> Add</a>
    <a role="button" class="btn btn-primary" th:href="@{/switch/reload}" title="Reload from 'clients.conf' file."><span class="glyphicon glyphicon-refresh"></span> Reload</a>
    <th:block th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
        <a role="button" class="btn btn-warning" th:href="@{/admin/writeClients}" title="Write to clients.conf file"><span class="glyphicon glyphicon-floppy-save"></span> Write changes</a>
    </th:block>

    <div class="form-group pull-right">
        <input type="search" id="search" class="search form-control" placeholder="Filter current list"/>
    </div>
        <table class="table table-striped" id="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>IP</th>
                <th>Mac</th>
                <th>Description</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="aSwitch : ${switches}">
                <td th:text="${aSwitch.id}"></td>
                <td th:text="${aSwitch.name}"></td>
                <td th:text="${aSwitch.ip}"></td>
                <td th:text="${aSwitch.mac}"></td>
                <td th:text="${aSwitch.description}"></td>
                <td>
                    <a role="button" class="btn btn-info btn-xs" th:href="@{/switch/{id}(id=${aSwitch.id})}"><span class="glyphicon glyphicon-edit"></span> Edit</a>
                    <th:block th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                        <a role="button" class="btn btn-danger btn-xs" th:href="@{/switch/delete/{id}(id=${aSwitch.id})}"><span class="glyphicon glyphicon-remove"></span> Delete</a>
                    </th:block>
                </td>
            </tr>
            </tbody>
        </table>

    <a role="button" class="btn btn-success" th:href="@{/switch/add}"><span class="glyphicon glyphicon-plus"></span> Add</a>
    <a role="button" class="btn btn-primary" th:href="@{/switch/reload}" title="Reload from 'clients.conf' file."><span class="glyphicon glyphicon-refresh"></span> Reload</a>
    <th:block th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
        <a role="button" class="btn btn-warning" th:href="@{/admin/writeClients}" title="Write to clients.conf file"><span class="glyphicon glyphicon-floppy-save"></span> Write changes</a>
    </th:block>    <div th:replace="fragments/footer :: footer"></div>

</div>
</body>
</html>