# ---------- App ----------
APP_IMAGE_NAME=danielsatkacuns/freeradiusgui
APP_IMAGE_TAG=latest
APP_PORT=8080

# ---------- Database ----------
MYSQL_ROOT_PASSWORD=changeme-root
MYSQL_DATABASE=freeradiusgui
MYSQL_USER=freeradius
MYSQL_PASSWORD=changeme
MYSQL_PORT=3306
