# ---------- App ----------
APP_IMAGE_NAME=danielsatkacuns/freeradiusgui
APP_IMAGE_TAG=latest
APP_PORT=8080

# ---------- FreeRADIUS ----------
RADIUS_IMAGE_NAME=freeradiusgui-radius
RADIUS_IMAGE_TAG=latest
RADIUS_AUTH_PORT=1812
RADIUS_ACCT_PORT=1813

# ---------- Database ----------
MYSQL_ROOT_PASSWORD=changeme-root
MYSQL_DATABASE=freeradiusgui
MYSQL_USER=freeradius
MYSQL_PASSWORD=changeme
MYSQL_PORT=3306
