<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title th:text="${account.login != null} ? 'Account: ' + ${account.login} : 'New account'"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="icon" type="image/png" th:href="@{/resources/img/favico.png}" />
    <link rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header-admin">&nbsp;</div>
<div class="container">

    <div class="page-header">
        <th:block th:if="${account.login != null}">
            <h1 th:text="'Edit account: ' + ${account.login}"> </h1>
        </th:block>
        <th:block th:if="${account.login == null}">
            <h1 th:text="'Create new account'"> </h1>
        </th:block>
        <th:block th:if="${msg != null}">
            <div th:replace="fragments/alert :: alert (type=${msgType}, message=${msg})">Alert</div>
        </th:block>
    </div>

    <div class="forms-200px">
    <form action="#" th:action="@{/account/submit}" th:object="${account}" method="post">
        <div th:object="${account}" class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
            <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
        </div>
        <div class="form-group">
            <input id="id" class="form-control" type="hidden" th:field="*{id}" />
        </div>
        <div class="form-group">
            <label for="login">Login</label>
            <input id="login" class="form-control" type="text" th:field="*{login}" placeholder="Login" th:autofocus="true"/>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input id="password" class="form-control" type="password" th:field="*{password}" placeholder="Password" />
        </div>
        <div class="form-group">
            <label for="name">Name</label>
            <input id="name" class="form-control" type="text" th:field="*{name}" placeholder="Name"/>
        </div>
        <div class="form-group">
            <label for="surname">Surname</label>
            <input id="surname" class="form-control" type="text" th:field="*{surname}" placeholder="Surname"/>
        </div>
        <div class="form-group">
            <label for="email">Email address</label>
            <input id="email" class="form-control" type="text" th:field="*{email}" placeholder="Email"/>
        </div>
        <div class="form-group">
            <label for="created">Creation date</label>
            <input id="created" class="form-control" th:field="*{creationDate}" type="hidden"/>
            <p th:attr="type=${(account.creationDate == null) ? 'hidden' : 'text'}" th:text="${#temporals.format(account.creationDate, 'dd.MM.yyyy HH:mm')}">DATE</p>
        </div>
        <div class="checkbox">
            <label th:for="${#ids.next('enabled')}">
                <input type="checkbox" th:field="*{enabled}" />
                Enabled
            </label>
        </div>
        <div >
            Roles:
            <div class="checkbox" th:each="r : ${allRoles}">
                <label>
                    <input type="checkbox" th:field="*{roles}" th:value="${r}" />
                    <label th:for="${#ids.prev('roles')}" th:text="${r.name}">Role name goes here</label>
                </label>
            </div>

        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success" ><span class="glyphicon glyphicon-floppy-disk"></span> Save</button>
            <a role="button" class="btn btn-danger" th:href="@{/account/delete/{id}(id=${account.id})}"><span class="glyphicon glyphicon-remove"></span> Delete</a>
            <a role="button" class="btn btn-default" th:href="@{/admin}"><span class="glyphicon glyphicon-arrow-left"></span> Back</a>
        </div>
    </form>
</div>
    <div th:replace="fragments/footer :: footer"></div>
</div>

</body>
</html>