<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title th:text="${device.name != null} ? 'Switch: ' + ${device.name} : 'New switch'"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="icon" type="image/png" th:href="@{/resources/img/favico.png}" />
    <link rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <script th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: ${#authorization.expression('hasRole(''ROLE_ADMIN'')')} ? 'header-admin' : 'header'">&nbsp;</div>
<div class="container">

    <div class="page-header">
        <th:block th:if="${device.name != null}">
            <h1 th:text="'Edit switch: ' + ${device.name}"> </h1>
        </th:block>
        <th:block th:if="${device.name == null}">
            <h1 th:text="'Create new switch'"> </h1>
        </th:block>
        <th:block th:if="${param.msg != null}">
            <div th:replace="fragments/alert :: alert (type=${param.msgType[0]}, message=${param.msg[0]})">Alert</div>
        </th:block>
    </div>

    <div class="forms-200px">
    <form action="#" th:action="@{/device/submit}" th:object="${device}" method="post">
        <div th:object="${device}" class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
            <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
        </div>
        <div class="form-group">
            <input id="id" class="form-control" type="hidden" th:field="*{id}" />
        </div>
        <div class="form-group">
            <label for="name">Name</label>
            <input id="name" class="form-control" type="text" th:field="*{name}" placeholder="Name" th:autofocus="true"/>
        </div>
        <div class="form-group">
            <label for="mac">Mac</label>
            <input id="mac" class="form-control" type="text" th:field="*{mac}" placeholder="Mac address"/>
        </div>
        <div class="form-group">
            <label for="ip">IP</label>
            <input id="ip" class="form-control" type="text" th:field="*{ip}" placeholder="IP address"/>
        </div>
        <div class="form-group">
            <label for="ip">Secret</label>
            <input id="ip" class="form-control" type="text" th:field="*{secret}" placeholder="Secret"/>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea id="description" class="form-control" type="text" th:field="*{description}" placeholder="Description"/>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success" ><span class="glyphicon glyphicon-floppy-disk"></span> Save</button>
            <a role="button" class="btn btn-danger" th:href="@{/device/delete/{id}(id=${device.id})}"><span class="glyphicon glyphicon-remove"></span> Delete</a>
            <a role="button" class="btn btn-default" th:href="@{/device/list}"><span class="glyphicon glyphicon-arrow-left"></span> Back</a>
        </div>
    </form>
</div>
    <div th:replace="fragments/footer :: footer"></div>
</div>

</body>
</html>