<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title th:text="${device.name != null} ? 'Device: ' + ${device.name} : 'New device'"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="icon" type="image/png" th:href="@{/resources/img/favico.png}" />
    <link rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <script th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: ${#authorization.expression('hasRole(''ROLE_ADMIN'')')} ? 'header-admin' : 'header'">&nbsp;</div>
<div class="container">

    <div class="page-header">
        <th:block th:if="${device.id != null}">
            <h1 th:text="'Edit device: ' + ${device.name}"> </h1>
        </th:block>
        <th:block th:if="${device.id == null}">
            <h1 th:text="'Create new device'"> </h1>
        </th:block>
        <th:block th:if="${msg != null}">
            <div th:replace="fragments/alert :: alert (type=${msgType}, message=${msg})">Alert</div>
        </th:block>
    </div>

    <div class="forms-200px">
    <form action="#" th:action="@{/device/submit}" th:object="${device}" method="post">
        <div th:object="${device}" class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
            <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
        </div>
        <div class="form-group">
            <input id="id" class="form-control" type="hidden" th:field="*{id}" />
        </div>
        <div class="form-group">
            <label for="mac">Mac address</label>
            <input id="mac" class="form-control" type="text" th:field="*{mac}" placeholder="Mac address" th:autofocus="true"/>
        </div>
        <div class="form-group">
            <label for="name">Name</label>
            <input id="name" class="form-control" type="text" th:field="*{name}" placeholder="Name"/>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea id="description" class="form-control" type="text" th:field="*{description}" placeholder="Description"/>
        </div>
        <div class="form-group">
            <label for="access">Access</label>
            <select class="form-control" id="access" th:field="*{access}">
                <option value="0">Reject</option>
                <option value="1">Accept</option>
            </select>
        </div>
        <div class="form-group">
            <label for="type">Type</label>
            <select class="form-control" id="type" th:field="*{type}">
                <option th:each="type : ${allTypes}"
                        th:value="${type}" th:text="${type}">Type here</option>
            </select>
        </div>

        <th:block th:if="${device.id != null }">
            <div class="form-group">
                <label for="lastseen">Last seen</label>
                <p id="lastseen" th:text="${device.lastSeen != null} ? ${#temporals.format(device.lastSeen, 'dd.MM.yyyy HH:mm')} : 'N/a'"></p>
            </div>
            <div class="form-group">
                <label for="switch">Switch</label>
                <p id="switch" th:text="${device.switch != null} ? ${device.switch.name} : 'N/a'"></p>
            </div>
            <div class="form-group">
                <label for="port">Port number</label>
                <p id="port" th:text="${device.switchPort != -1} ? ${device.switchPort} : 'N/a'"></p>
            </div>
            <div class="form-group">
                <label for="portspeed">Port speed</label>
                <p id="portspeed" th:text="${device.portSpeed != -1} ? ${device.portSpeed} + ' Mbps': 'N/a'"></p>
            </div>
            <div class="form-group">
                <label for="duplex">Port speed</label>
                <p id="duplex" th:text="${device.duplex == 1} ? 'Full' : 'Half'"></p>
            </div>
            <div class="form-group">
                <label for="tor">Time of registration</label>
                <p id="tor" th:text="${device.timeOfRegistration != null} ? ${#temporals.format(device.timeOfRegistration, 'dd.MM.yyyy HH:mm')} : 'N/a'"></p>
             </div>
        </th:block>
        <div class="form-group">
            <button type="submit" class="btn btn-success" ><span class="glyphicon glyphicon-floppy-disk"></span> Save</button>
            <a role="button" class="btn btn-danger" th:href="@{/device/delete/{id}(id=${device.id})}"><span class="glyphicon glyphicon-remove"></span> Delete</a>
            <a role="button" class="btn btn-default" th:href="@{/device/list}"><span class="glyphicon glyphicon-arrow-left"></span> Back</a>
        </div>
    </form>
</div>
    <div th:replace="fragments/footer :: footer"></div>
</div>

</body>
</html>