<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
</head>
<body>
<!--/*  Multiple fragments may be defined in one file */-->
<footer th:fragment="footer">
    <script th:src="@{/resources/js/back-to-top-button.js}"></script>
    <div class="space-20"></div>
    <p class="text-muted">&copy; RBP 2016, <a href="mailto:it@rop.lv">it@rop.lv</a>, version 0.918</p>
</footer>
</body>
</html>