<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
</head>
<body>
<!--/*  Multiple fragments may be defined in one file */-->
<footer th:fragment="footer">
    <p>
        <p>
            <a class="back-to-top glyphicon glyphicon-arrow-up" href="#" title="Top"></a><a href="#">Back to top</a>
        </p>
        <p class="text-muted">&copy; RBP 2016, <a href="mailto:it@rop.lv">it@rop.lv</a></p>
    </p>
</footer>
</body>
</html>